@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
    --main-font-color: rgb(27, 26, 57);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: 300;
    margin: 0;
}

button {
    color: var(--main-font-color);
}

small {
    color: rgb(52, 50, 109);
}

small.large {
    font-weight: 400;
}

.btn {
    background-color: #e9e9e9;
    border: none;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
}

.pages-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.controls-container {
    margin: 0 40px 20px;
    display: flex;
    align-items: flex-start;
    width: 90%;
}

.page-container {
    width: 80%;
    max-width: 400px;
    height: 700px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    padding: 10px 20px 20px 20px;
    background-color: white;
    overflow-y: scroll;
    margin: 0 20px;
    display: none;
}

.page-container.show {
    display: block;
    opacity: 0;
    transform: translateY(10px);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.page-container.show.animated {
    opacity: 1;
    transform: translateY(0);
}

.page-container h1 {
    color: var(--main-font-color);
    font-weight: 700;
    font-size: 28px;
}

.clothes-controls-container {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

input, select {
    font-size: 20px;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid rgb(162, 204, 220);
    padding: 0 10px;
    outline: none;
    color: var(--main-font-color);
    transition: border 0.3s ease-in;
}

.clothes-controls-container input[type="text"]:focus {
    border: 2px solid rgb(93, 131, 145); 
}

.clothes-controls-container .btn {
    margin-top: 10px;
    width: 100%;
}

.clothes-container,
.properties-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.clothing {
    background-color: white;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    height: 300px;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

.clothing img {
    width: 90%;
    border-radius: 10px;
    object-fit: cover;
    text-align: center;
    margin-bottom: 10px;
    aspect-ratio: 1 / 1;
}

.clothing-title {
    border-bottom: 1px solid rgb(162, 204, 220);
    padding-bottom: 5px;
}

.clothing-title .brand {
    font-weight: 400;
}

.add-clothing-form-container,
.log-outfit-form-container {
    display: flex;
    flex-direction: column;
}

.add-clothing-container,
.view-clothing-container,
.log-outfit-container {
    position: relative;
}

.close-container-btn {
    position: absolute;
    right: 0;
    top: -10px;
}

.add-clothing-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-clothing-form.disabled input:disabled,
.add-clothing-form.disabled input:-internal-autofill-selected,
.add-clothing-form.disabled input[type=text]:disabled, 
.add-clothing-form.disabled select:disabled, 
.add-clothing-form.disabled .upload-clothing-picture-button {
    border-color: grey;
    color: grey !important; 
    cursor: auto;
}

.form-control {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
}

.form-control .error {
    display: none;
    color: rgb(144, 32, 32);
}

.form-control .error.show {
    display: inline;
}

.form-control label {
    font-weight: 400;
}

.form-control input, select {
    margin: 4px 0;
}

.form-control input[type="file"] {
    display: none;
}

.upload-clothing-picture-button {
    display: block;
    font-weight: 400;
    text-align: center;
    padding: 8px;
    margin-bottom: 8px;
}

.save-clothing-btn, 
.add-another-clothing-btn,
.save-outfit-btn {
    margin-top: 20px;
}

.save-clothing-btn.hide {
    display: none;
}

.add-another-clothing-btn {
    display: none;
}

.add-another-clothing-btn.show {
    display: block;
}

.alert {
    color: #648394;
    font-size: 15px;
    display: none;
    font-weight: 400;
}

.alert.show {
    display: inline;
}

.view-clothing-container img {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.property-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.property-container .label {
    font-size: 14px;
}

.property-container .value {
    font-size: 18px;
    font-weight: 400;
}

.summary-property-container {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.summary-property-container .label {
    font-size: 20px;
    font-weight: 400;
}

.summary-property-container .value {
    margin-top: 10px;
}

.summary-property-container .value.large {
    font-size: 40px;
    font-weight: 700;
}

.summary-property-container ul {
    padding-left: 22px;
    margin: 0;
}

.summary-property-container ul li {
    margin: 2px 0;
}

.progress-bar {
    width: 100%;
    height: 30px;
    background-color: rgb(255 255 255);
    border-radius: 15px;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

.progress {
    height: 30px;
    background-color: rgb(192 211 226);
    border-radius: 15px;
    position: absolute;
    left: 0;
    width: 50%;
}

.log-outfit-form-container ul {
    margin: 0;
    padding: 0;
}

.log-outfit-form-container ul li {
    list-style-type: none;
    margin: 5px 0;
    padding: 9px;
    border-radius: 10px;
    background-color: rgb(192 211 226);
    height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

@media (max-width: 800px) {
    .page-container {
        width: 90%;
    }

    .clothes-container {
        grid-template-columns: repeat(1, 1fr);
    }
}